<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order Management</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
.page-header{
	text-align: center;
	
}
 body{
 	background-image: url("http://jamaicamocha.files.wordpress.com/2013/04/depositphotos_11538121-texture-of-sack-burlap-background.jpg");
 	color:brown;
 	text-align:center;
 }
.navigation-order{
    margin-bottom: 30px;
        }
table{
 	 margin-left: auto;
    margin-right: auto;
 }
 input[type=text]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }
 input[type=submit] {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 input[type=submit]:hover {
    background-color: #3e8e41
}
input[type=submit]:active {
background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.page-header{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}
</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="image">
            <a href="/products"><img src="http://frescogourmetcoffee.co.uk/images/template-header.jpg" style="width:100%;"/></a>
        </div>
        
    </div>
    
    <div class="page-header" >
   
        <div class="row">
            <div class="order">
             
                <h1>Add an Order</h1>
                <form>
                    <div class="form-group">
                        <label for="product_name">Select Product(s)</label>
                            <div class="checkbox" name="product" th:each="product : ${products}">
                                <label><span th:text="${product.productName}"></span><input style="margin-left: 0px;" type="checkbox" th:field="*{products}" th:value="${product.productName}" /></label>
                            </div>
                            <br/>
                    </div>
                    <div class="form-group">
                        <label for="customer_first_name">Customer First Name</label>
                        <input type="text" class="form-control" id="customer_first_name"/>
                        <br/>
                    </div>
                    <div class="form-group">
                        <label for="customer_last_name">Customer Last Name</label>
                        <input type="text" class="form-control" id="customer_last_name"/>
                    </div>
                    <br/>
                    <input type="submit" class="btn btn-default" id="btn_submit" value="Add New Order"/>
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <br/><a href="/products">Go to products page</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>List of orders</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Customer</th>
                        <th>Products</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="order : ${orders}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.customer.firstName + ' ' + order.customer.lastName}"></td>
                        <td>
                            <table>
                                <tr th:each="product :${order.products}">
                                    <td th:text="${product.productName}"></td>
                                </tr>
                            </table>
                        </td>
                        <td th:text="${order.total}"></td>
                        <td th:id="${order.orderId}"><button class="btn btn-danger delete-order">Complete Order</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#btn_submit').on("click",function(e){
            e.preventDefault();
            var firstName = $("#customer_first_name").val();
            var lastName = $("#customer_last_name").val();
            if (!$(".checkbox :checkbox").is(":checked")){
                alert("Please select one or more product");
            }
            else if($.trim(firstName)===""){
                alert("You must fill the first name");
            }
            else if($.trim(lastName)===""){
                alert("You must fill the last name");
            }
            else{
                var productIds = [];
                $(".checkbox :checkbox:checked").each(function(){
                   productIds.push(parseInt($(this).attr("id")));
                });
                $.ajax({
                   type:"POST",
                   url:"/createorder",
                   data:{firstName:firstName,lastName:lastName, productIds:productIds},
                   success:function (data) {
                       if (confirm("Order with Id " +data + " Saved")){
                           window.location.reload();
                       }
                   }
                });
            }
        });

        //Complete order button handler

        $('.delete-order').on("click", function(e){
            e.preventDefault();

            if(confirm("Are you sure the order is complete?")){
                var Id = parseInt($(this).closest("td").attr("id"));

                $.ajax({
                    type:"POST",
                    url:"/removeorder",
                    data:{Id:Id},
                    success:function (data) {
                        $(".delete-order").closest("td#"+data).parent("tr").fadeOut("slow",function(){
                            $(".delete-order").closest("td#"+data).parent("tr").remove();
                        });
                    }
                });
            }

        });

    });
</script>
</body>
</html>