<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.container{
	text-align: center;
}
.navigation-order{
    margin-bottom: 30px;
        }
 body{
 	background-image: url("http://jamaicamocha.files.wordpress.com/2013/04/depositphotos_11538121-texture-of-sack-burlap-background.jpg");
 	color:brown;
 	text-align: center;
 }
 table{
  margin-left: auto;
    margin-right: auto;
 }
 input[type=text]{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }

.page-header{
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
}
input[type=submit] {
    display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
 input[type=submit]:hover {
    background-color: #3e8e41
}
input[type=submit]:active {
background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>

   
</head>
<body>
<div class="container">
    <div class="row">
        <div class="image">
            <a href="/products"><img src="http://frescogourmetcoffee.co.uk/images/template-header.jpg" style="width:100%;"/></a>
        </div>
    </div>
    <div class="page-header" id="banner">
        <div class="row">
            <div class="head">
                <h1>Products</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productPrice}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <form>
                    <div class="form-group">
                        <label for="product_name">Product Name:</label>
                        <input type="text" class="form-control" id="product_name"/>
                    </div>
                    <div class="form-group">
                        <label for="product_price">Price:</label>
                        <input type="text" class="form-control" id="product_price"/>
                    </div>
                    <input type="submit" class="btn btn-default" id="btn_submit" value="Add New Product"/>
                </form>
            </div>
        </div>
        <br />
        <div class="row navigation-order">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <a href="/orders">Click here to go to Customer Order Management</a>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script type="application/javascript">
    $(document).ready(function () {
       $('#btn_submit').on("click",function (e) {
           e.preventDefault();
           var productName, productPrice;
           productName = $('#product_name').val();
           productPrice = $('#product_price').val();
           if($.trim(productName) === ""){
               alert("Product name cannot be empty");
           }
           else if($.trim(productPrice) === ""){
               alert("Product price cannot be empty");
           }
           else if (isNaN(productPrice)) {
        	   
               alert("Price must be numeric");
           }
           else {
               var data = {};
               data["productName"] = productName;
               data["productPrice"] = productPrice;
               $.ajax({
                   type: "POST",
                   contentType: "application/json",
                   url: "/saveproduct",
                   data: JSON.stringify(data),
                   dataType: 'json',
                   timeout: 6000,
                   success: function (data) {
                       if (confirm("Product with Id " +data + " Saved")){
                           window.location.reload();
                       }
                   }
               });
           }
       });
    });
</script>
</body>
</html>