<div th:fragment="footer" class="navbar navbar-default navbar-fixed-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <p class="navbar-text pull-left">&copy;<script>var date = new Date(); document.write(date.getFullYear() + " ")</script>
            Milan Esztero
        </p>
    </div>
</div>